$todo-selected-color: #c0c0c0;
$todo-header-height: 40px;
$gray-color: #d9d9d9;
$red-color: #c20000;
$borders-color: #c9c9c9;

$menu-width-open: 240px;
$menu-color: #efefef;

$list-width: 100%;
$list-add-color: #d8d8d8;
$list-item-color: $menu-color;
$list-item-apply-color: #636363;


$toolbar-color: #efefef;
$toolbar-width: 330px;
