@import 'variables';
@import 'mixins';

.list {
  overflow-y: auto;
  padding: 20px 14px;
  width: $list-width;

  &_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: $todo-header-height;
    margin-bottom: 10px;
  }

  &_title {
    font-size: 28px;
  }

  &_add-case {
    width: 100%;
    height: 50px;
    padding-left: 10px;
    border-radius: 2px;
    border: 0;
    outline: 0;
    background-color: $gray-color;
    margin-bottom: 20px;
  }

  &_items {
    .list_item + .list_item {
      margin-top: 4px;
    }
  }

  .list_item {
    display: flex;
    align-items: center;
    padding: 14px;
    min-height: 48px;
    border-right: 2px;
    background-color: $list-item-color;
    cursor: pointer;

    &__inner {
      display: flex;
      flex-direction: column;
      margin-left: 16px;
    }

    &__apply {
      @include circle;
    }

    &__title {
      font-size: 16px;
    }

    &__description {
      margin-top: 4px;
      font-size: 12px;
    }

    &.active,
    &:hover {
      background-color: $gray-color;
    }

    &--completed {
      margin-top: 34px;
      margin-bottom: 4px;
    }
  }
}
