@import 'variables';
@import 'mixins';

.menu {
  display: flex;
  flex-direction: column;
  min-width: $menu-width-open;
  height: 100%;
  border-right: 1px solid $borders-color;
  background-color: $menu-color;

  &_header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    height: $todo-header-height;

    &__userpic {
      width: 40px;
      height: 40px;
      margin-right: 14px;
      border-radius: 50%;
      background-color: #fff;
    }

    &__username {
      font-size: 15px;
      font-weight: 600;
    }
  }

  &_list {
    border-top: 1px solid $borders-color;
    padding: 8px 6px;

    &__item {
      display: flex;
      justify-content: space-between;
      padding: 10px 8px;
      cursor: pointer;

      &.active,
      &:hover {
        padding: 10px 14px;
        margin: 0 -6px;
        background-color: $gray-color;
      }
    }
  }

  &_search {
    margin-bottom: 10px;

    & input {
      width: 100%;
      height: 36px;
      padding-left: 40px;
      border: 0;
      background-color: $gray-color;
    }
  }

  #menu_create-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    padding: 15px 10px;
    font-size: 16px;
    cursor: pointer;

    span {
      font-size: 24px;
      margin-right: 20px;
    }

    div {
      width: 150px;
    }
  }
}
