@import 'variables';
@import 'mixins';

.popup {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 100%;
  height: 100vh;
  
  &_inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    display: flex;
    width: 500px;
    height: 50px;
    border-radius: 2px;
    background-color: #fff;
    overflow: hidden;
  }

  &_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(39, 39, 39, 0.726);
  }

  &_input, &_button {
    border: none;
    outline: none;
    background-color: inherit;
  }

  &_input {
    width: 100%;
    padding: 0 12px;
    font-size: 16px;

    &:focus {
      background-color: #fff;
    }
  }

  &_button {
    padding: 0 15px;
    font-weight: 500;
    cursor: pointer;
  }
}